body {


    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: linear-gradient(to right top, #5ccfeb, #00c2ff, #39adff, #978cff, #e256f1);
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.gradient-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #ff6b6b, #ffa35e);
    color: #fff;
    transition: background 0.3s ease, transform 0.3s ease;
}

/* Add a hover effect for the button */
.gradient-button:hover {
    background-image: linear-gradient(45deg, #ffa35e, #ff6b6b);
    transform: scale(1.05);
    /* Increase size on hover */
}

nav {
    margin: 20px;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50.1px);
    -webkit-backdrop-filter: blur(24.1px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
nav a{
color: black;
}